<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    {% if user.is_anonymous %}

    <div class="text sign-up-text"><a class="btn btn-primary" href="{% url 'login' %}">Login</a></div>

    {% else %}

    <div class="title alert alert-primary" role="alert">Seja bem-vindo {{ user.get_full_name }}!</div>
    <div class="text sign-up-text"><a class="btn btn-primary" href="{% url 'logout' %}">Logout</a></div>
{% endif %}
</body>
</html>


