<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Exclusão</title>
</head>
<body>
    <h1>Confirmação de Exclusão</h1>
    <p>Você tem certeza que deseja excluir o(a) {{ object }}?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Excluir</button>
      <a href="{% url 'pontolist' %}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Voltar</a>
    </form>
</body>
</html>